body{
    background:url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/clans/34421058/095d64f6fe2e7f6268a20eb7fa3684afff68e563.jpg") ;
}
.texti{
    background-color: #b1b4b8b9;
    box-shadow: 3px 3px 3px 3px #000000;
}
a{
    text-decoration: none;
    color: rgb(111, 0, 255);
}
.text{
    background-color: #b1b4b8b9;  
    box-shadow: 3px 3px 3px 3px #000000;

}
iframe{
    margin: 30px;
    box-shadow: 3px 3px 3px 3px #000000;

}